a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: var(--cor-bg);
    background-color: var(--cor-secundaria);
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.1rem;
    margin: 0.99rem;
    border-radius: 0.75rem;
    position: relative;
    transition: 0.2s ease-in; /* o que isso faz?*/
}

a:hover {
    transform: scale(1.1);
}

.conteudo_links {
    max-width: 800px;
    margin: 0 auto;
}

